/* STEP ONE */
.step_1 {
  display: block;
  /* display: none; */
}

/* FORM: STEP 1 */
.step_one_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  position: relative; /* for error text */
}
/* LABEL */
.label {
  color: var(--Marine_blue);
  font-weight: 700;
  margin-bottom: 0.4rem;
}
/* INPUT */
.input_field {
  padding: 0.9rem 0.7rem;
  outline: 2px solid var(--Light_gray);
  border-radius: 0.3rem;
  font-weight: 500;
  color: var(--Marine_blue);
  border: none;
  letter-spacing: 1px;
}
.input_field:focus {
  outline: 2px solid var(--Marine_blue);
}
/* ERROR TEXT "this filed is required" */
.error_txt {
  color: var(--Strawberry_red);
  font-weight: 700;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
