/* STEP 5 / THANKYOU */
.thankyou_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.thankyou_title {
  color: var(--Marine_blue);
  font-weight: 700;
}
.thankyou_text {
  color: var(--Cool_gray);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}
