:root {
  /* PRIMARY COLORS */
  --Marine_blue: hsl(213, 96%, 18%);
  --Purplish_blue: hsl(243, 100%, 62%);
  --Pastel_blue: hsl(228, 100%, 84%);
  --Light_blue: hsl(206, 94%, 87%);
  --Strawberry_red: hsl(354, 84%, 57%);
  /* NEUTRAL COLORS */
  --Cool_gray: hsl(231, 11%, 63%);
  --Light_gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%); /*body bg */
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--Magnolia);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 100%;
}
/* MAIN CARD */
.main {
  max-width: 930px;
  width: 930px;
  max-height: 600px;
  background-color: var(--White);
  padding: 1rem;
  display: flex;
  gap: 100px;
  border-radius: 1rem;
}
/* SIDEBAR */
.side_bar {
  width: 274px;
  height: 568px;
  background-image: url(./images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  padding: 2.5rem 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* SIDEBAR STEPS */
.step {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* STEP INDICATOR CIRCLE  */
.step_circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--Light_blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  font-size: 0.86rem;
  padding: 5px;
}
/* ACTIVE STEP */
.active {
  background-color: var(--Light_blue);
  color: var(--Marine_blue);
}
/* WRAPPER DIV: STEP NO. & STEP TITLE  */
.step_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-transform: uppercase;
}
/* STEP INFO-> STEP NO. */
.step_number {
  font-size: 0.76rem;
  font-weight: 500;
  color: var(--Cool_gray);
}
/* STEP INFO-> STEP TITLE */
.step_title {
  font-size: 0.8rem;
  color: var(--White);
  font-weight: 700;
  letter-spacing: 2px;
}
/* END OF SIDEBAR STYLES */
.form {
  width: 450px;
  min-height: 505px;
  padding-top: 2rem;
}
/* FORM SECTION */
.step_one_container {
  width: 100%;
  height: 100%;
  /* display: flex; */
  display: none;
  flex-direction: column;
  position: relative;
}
/* FORM HEADER */
.form_header {
  margin-bottom: 2rem;
}
/* FORM HEADER */
.title {
  color: var(--Marine_blue);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.sub_title {
  color: var(--Cool_gray);
  font-size: 0.99rem;
  font-weight: 500;
}
/* FORM: STEP 1 */
.step_one_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  position: relative; /* for error text */
}
/* LABEL */
.label {
  color: var(--Marine_blue);
  font-weight: 700;
  margin-bottom: 0.4rem;
}
/* INPUT */
.input_field {
  padding: 0.9rem 0.7rem;
  outline: 2px solid var(--Light_gray);
  border-radius: 0.3rem;
  font-weight: 700;
  color: var(--Marine_blue);
  border: none;
  letter-spacing: 1px;
}
.input_field:focus {
  outline: 2px solid var(--Marine_blue);
}
/* ERROR TEXT "this filed is required" */
.error_txt {
  color: var(--Strawberry_red);
  font-weight: 700;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
/* BUTTON */
.next_btn {
  display: initial;
  max-width: 25%;
  color: var(--White);
  padding: 0.8rem 1rem;
  background-color: var(--Marine_blue);
  border-radius: 0.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  position: absolute;
  bottom: 2rem;
  right: 0;
  cursor: pointer;
}

/* STEP TWO FORM*/
.step_two_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
.step_two_form {
  display: flex;
  flex-direction: column;
}
/* PLANS WRAPPER */
.plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.plan {
  width: 30%;
  padding: 1rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Light_gray);
}
.selected {
  border: 1px solid var(--Purplish_blue);
}
/* PLAN TITLE/NAME */
.plan_name {
  display: block;
  font-weight: 700;
  color: var(--Marine_blue);
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
/* PLAN ICON/IMG */
.plan_icon {
  width: 40px;
  height: 40px;
  margin-bottom: 2rem;
}
/* PLAN PRICE */
.plan_price {
  display: block;
  font-weight: 500;
  color: var(--Cool_gray);
}
.text_add {
  display: none;
  /* display: block; */
  color: var(--Marine_blue);
  margin-top: 0.5rem;
  font-weight: 500;
}
/* TOGGLE SWITCH */
.plan_toggle_switch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Magnolia);
  padding: 0.4rem 0;
}
/* */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
  margin: 0 1rem;
}

.toggle_input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* SIDER/ HANDLE */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Marine_blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--White);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle_input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.toggle_input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
.monthly,
.yearly {
  color: var(--Cool_gray);
}
/* END OF TOGGLE SWITCH */
/* STEP TWO BUTTONS WRAPPER */
.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 2rem;
}
/* STEP TWO NEXT BUTTON */
.step_two_next_btn {
  max-width: 25%;
  color: var(--White);
  padding: 0.8rem 1rem;
  background-color: var(--Marine_blue);
  border-radius: 0.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}
/* STEP TWO GOBACK BUTTON */
.go_back_btn {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--Cool_gray);
  font-size: 1rem;
}
.go_back_btn:hover {
  color: var(--Marine_blue);
}
/* END OF STEP THREE */
/* STEP THREE */
.step_three_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
.step_three_form {
  display: flex;
  flex-direction: column;
}
/* ADD ONS WRAPPER */
.add_ons {
  display: flex;
  flex-direction: column;
}
/* INDIVIDUAL ADD ON OPTION /LABEL */
.add_on {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: calc(1rem + 35px);
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Light_gray);
  cursor: pointer;
  position: relative;
}
.selected_addon {
  border: 1px solid var(--Purplish_blue);
}
/* ADD ON CHECKBOX */
.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
/* CUSTOM CHECKBOX */
.custom_checkbox {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: var(--White);
  border: 1px solid var(--Cool_gray);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.checkbox:checked ~ .custom_checkbox {
  background-image: url(./images/icon-checkmark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: var(--Purplish_blue);
  border: 1px solid var(--Purplish_blue);
}

/* ADD ON DESCRIPTION */
.add_on_title {
  color: var(--Marine_blue);
  margin-bottom: 0.2rem;
}
.add_on_sub_title {
  color: var(--Cool_gray);
}
/* ADDON PRICE */
.add_on_price {
  position: absolute;
  right: 1rem;
  color: var(--Marine_blue);
  font-size: 1rem;
  font-weight: 500;
}

/* END OF STEP THREE */

/* STEP 4 */
.step_four_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
/* SUMMARY STEP */
.summary_wrapper {
  padding: 1rem;
  background-color: var(--Magnolia);
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}
/* SUMMARY TOP HEADER */
.summary_header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Light_gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* SELECTED PLAN NAME */
.selected_plan {
  color: var(--Marine_blue);
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}
/* CHANGE BUTTON */
.change_plan_btn {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  color: var(--Cool_gray);
  font-weight: 500;
}
.change_plan_btn:hover {
  color: var(--Purplish_blue);
}
/* SUMMARY: SELECTED PLAN PRICE */
.selected_plan_price{
  color: var(--Marine_blue);
  font-weight: 700;
  font-size: 1.2rem;
}
/* SUMMARY: SELCETED ADDONS  */
.addons_summary{
  list-style: none;
}
/* SUMMARY: ADDON INDIVIDUAL */
.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
/*SUMMARY: SELECTED PLAN TITLE */
.selected_addon_title{
  color: var(--Cool_gray);
  font-weight: 500;
  font-size: 1.1rem;
}
/*SUMMARY: SELECTED PLAN PRICE */
.add_on_price_sum{
  color: var(--Marine_blue);
  font-weight: 500;
  font-size: 1rem;
}
/*  SUMMARY: TOTAL PRICE SECTION */
.summary_total_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.total_title{
  color: var(--Cool_gray);
  font-weight: 500;
  font-size: 1.1rem;
}
.total_price{
  color: var(--Purplish_blue);
  font-size: 1.5rem;
  font-weight: 700;
}

/* END OF STEP 4 */

/* STEP 5 / THANKYOU */
.thankyou{

}